@media (prefers-color-scheme: dark) {
  // banner
  .banner {
    h1 strong {
      color: $color-primary-invert;
    }
  }

  // list styled
  .list-styled {
    li {
      color: $text-dark-invert;

      &::before {
        background: $color-primary-invert;
        border: 2px solid $white-invert;
        box-shadow: 0 0 0 2px $color-primary-invert;
      }
    }
  }

  // blog
  .drop-cap>p:first-child:first-letter {
    font-family: $font-secondary;
  }

  .card-meta {
    li {

      font-family: $font-secondary;
      color: $text-color-invert;

      &:not(:last-child) {

        &:before {
          border-right: 1px solid $border-color-invert;
        }
      }

      a {
        color: $text-color-invert;

        &:hover {
          color: $color-primary-invert;
        }
      }

    }
  }

  .nav-pills {
    .btn.active {
      background-color: $color-primary-invert;
    }
  }

  .scroll-list {

    // track
    &::-webkit-scrollbar-track {
      background: $light-invert;
    }

    // handle
    &::-webkit-scrollbar-thumb {
      background: darken($color: $light-invert, $amount: 20);
    }
  }

  .blog-card-list {
    .card {
      &:not(:last-child) {
        border-bottom: 1px solid $border-color-invert;
      }
    }
  }

  // widget
  .category-widget {
    ul li {

      &:before {
        font-family: $font-icon;
        color: $color-primary-invert;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $border-color-invert;
      }

      a {
        color: $text-dark-invert;

        &:hover {
          color: $color-primary-invert;
        }

        small {
          color: $text-light-invert;
        }
      }
    }
  }

  .newsletter-widget {
    .form-control {
      background-color: $light-invert;
      color: $text-color-invert;

      &::placeholder {
        color: $text-color-invert;
      }

      &:focus {
        background-color: $light-invert;
      }
    }
  }

  // contact
  .contact {
    .card {
      li,
      a {
        color: $text-dark-invert;
        border: 1px solid $border-color-invert;
      }
    }
  }


  // footer
  .footer {
    .footer-menu {
      li {
        a {
          color: $text-dark-invert;

          &:hover {
            color: $color-primary-invert;
          }
        }
      }
    }

    .copyright a {
      color: $color-primary-invert;
    }
  }
}
