@media (prefers-color-scheme: dark) {
  .header {

    // navbar-nav
    .navbar-nav {
      .nav-item {
        &.active {
          .nav-link {
            background: $color-primary-invert;
            color: $white; /*keep color*/
          }
        }
      }

      .nav-link {
        color: $text-dark-invert;
        font-family: $font-secondary;

        &:hover {
          background: $color-primary-invert;
          color: $white; /*keep color*/
        }
      }
    }

    .dropdown {
      &-menu {
        background: $white-invert;

        .dropdown-item {
          font-family: $font-secondary;

          &.active,
          &:active,
          &:hover {
            color: $color-primary-invert;
            background-color: rgba($color-primary-invert, .15);
          }
        }
      }
    }
  }

  /* search */
  .search {
    li a {
      background: $color-primary-invert;
      color: $white-invert;
    }
  }

  .search-wrap {
    background: $white-invert;

    .close-search {
      background-color: transparent;
      color: $black-invert;
    }

    input {
      background-color: $light_invert;
      color: $black-invert;

      &::placeholder {
        color: $black-invert;
      }

    }
  }

  /* offcanvas */
  .offcanvas {
    background-color: $body-color-invert;

    .offcanvas-menu {

      li {
        a {
          color: black;

          &:hover {
            color: $color-primary-invert;
          }
        }
      }
    }

    .btn-close {
      background: transparent;
      color: $color-primary-invert;
    }
  }

  .toggle-search {
    background-color: $color-primary-invert;
    color: $white; /*keep color*/
  }
}
