<link rel="apple-touch-icon" sizes="180x180" href="{{"/img/fav/apple-touch-icon.webp" | relURL}}">
<link rel="icon" type="image/webp" sizes="32x32" href="{{"/img/fav/favicon-32x32.webp" | relURL}}">
<link rel="icon" type="image/webp" sizes="16x16" href="{{"/img/fav/favicon-16x16.webp" | relURL}}">
<link rel="manifest" href="{{"site.webmanifest" | relURL}}">
<link rel="mask-icon" href="{{"safari-pinned-tab.svg" | relURL}}" color="#252627">
<link rel="shortcut icon" href="{{"/img/fav/favicon.ico" | relURL}}">
<meta name="theme-color" content="#252627">
