// color variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#0a8451"}};
$text-color: {{.text_color | default "#333333"}};
$text-dark: {{.text_dark | default "#222222"}};
$text-light: {{.text_light | default "#4d4d4d"}};
$body-color: {{.body_color | default "#ffffff"}};
$border-color: {{.border_color | default "#ececec"}};
$black: {{.black | default "#292929"}};
$white: {{.white | default "#ffffff"}};
$light: {{.light | default "#edf6f5"}};

// dark color variables
$color-primary-invert: {{.color_primary_invert | default "#086a41"}};
$text-color-invert: {{.text_color_invert | default "#cccccc"}};
$text-dark-invert: {{.text_dark_invert | default "#dddddd"}};
$text-light-invert: {{.text_light_invert | default "#b2b2b2"}};
$body-color-invert: {{.body_color_invert | default "#0d1117"}};
$border-color-invert: {{.border_color_invert | default "#363b42"}};
$black-invert: {{.black_invert | default "#d6d6d6"}};
$white-invert: {{.white_invert | default "#000000"}};
$light-invert: {{.light_invert | default "#12090a"}};

// font variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{ replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Noto Serif"}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{ replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Noto Serif"}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 6 Free"}}';
{{ end }}

// import bootstrap
@import 'bootstrap/bootstrap';

// import theme style
@import 'mixins';
@import 'typography';

@import 'buttons';
@import 'common';
@import 'custom';
@import 'templates/navigation';
@import 'templates/main';

@import 'dark/typography';
@import 'dark/buttons';
@import 'dark/common';
@import 'dark/templates/navigation';
@import 'dark/templates/main';
