// color variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#0a8451"}};
$color-primary: {{.color_primary_dark | default "#086A41"}};
$text-color: {{.text_color | default "#333333"}};
$text-dark: {{.text_dark | default "#222222"}};
$text-light: {{.text_light | default "#4d4d4d"}};
$body-color: {{.body_color | default "#ffffff"}};
$border-color: {{.border_color | default "#ececec"}};
$black: {{.black | default "#292929"}};
$white: {{.white | default "#ffffff"}};
$light: {{.light | default "#edf6f5"}};

// font variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{ replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Noto Serif"}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{ replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Noto Serif"}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 6 Free"}}';
{{ end }}

// import bootstrap
@import 'bootstrap/bootstrap';

// import theme style
@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'custom';

@import 'templates/navigation.scss';

@import 'templates/main.scss';
