{{ define "main" }}

<!--=================== contact section start ===================-->
<section class="section contact">
  <div class="container">
    {{ $bgImage:= resources.Get "images/map.png" }}
    {{ $bgImage:= $bgImage.Resize "1400x webp" }}
    <div class="row section-sm pt-0" style="background-image: url('{{ $bgImage.RelPermalink }}')">
      <div class="col-lg-5">
        <div class="content pt-lg-5 pb-3 pb-lg-0">
          <h2>Mari kita berbicara</h2>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="p-4 border rounded-4">
          <h3 class="h4 mb-5 text-capitalize">Kirim sebuah
            <span class="text-primary"> pesan <i class="fas fa-arrow-right ms-2"></i></span>
          </h3>
          <form name="contact" action="/success" method="POST" data-netlify="true">
            <div class="form-group">
              <label for="name" class="form-label">Nama <small>*</small></label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Nama lengkap" required>
            </div>
            <div class="form-group">
              <label for="email" class="form-label">Email <small>*</small></label>
              <input type="email" class="form-control" name="email" id="email" placeholder="my@email.com" required>
            </div>
            <div class="form-group">
              <label for="name" class="form-label">Subjek <small>*</small></label>
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Nama judul"
                required>
            </div>
            <div class="form-group">
              <label for="name" class="form-label">Telepon <small>*</small></label>
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="081 ..."
                required>
            </div>
            <div class="form-group">
              <label for="message" class="form-label">Pesan Anda <small>*</small></label>
              <textarea class="form-control" placeholder="Hai, saya ingin ..." id="message"
                name="message" required></textarea>
            </div>
            <button type="submit" value="send" class="btn btn-primary">Kirim Sekarang</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row g-4">
      {{ with site.Params.mobile }}
      <div class="col-lg-4">
        <div class="card text-center">
          <a href="tel:{{.}}"><i class="fas fa-user text-primary"></i>{{.}}</a>
        </div>
      </div>
      {{ end }}
      {{ with site.Params.email }}
      <div class="col-lg-4">
        <div class="card text-center">
          <a href="mailto:{{.}}"><i class="fas fa-envelope text-primary"></i>{{.}}</a>
        </div>
      </div>
      {{ end }}
      {{ with site.Params.address }}
      <div class="col-lg-4">
        <div class="card text-center">
          <li>
            <i class="fas fa-map-marker-alt text-primary"></i>{{ .| markdownify}}
          </li>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!--=================== contact section start ===================-->

{{ end }}
