@media (prefers-color-scheme: dark) {
  // button style
  .btn {
    font-family: $font-secondary;

    &:hover{
      color: $white; /*keep color*/
    }
  }

  .btn-primary {
    background: $color-primary-invert;
    color: $text_dark_invert;
    border-color: $color-primary-invert;

    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
      color: $white;
      background: $color-primary-invert !important;
      border-color: $color-primary-invert !important;
    }
  }

  .btn-outline-primary {
    background: transparent;
    color: $color-primary-invert;
    border-color: $color-primary-invert;

    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background: $color-primary-invert !important;
      border-color: $color-primary-invert !important;
    }
  }


  // button hover
  .btn:after,
  .btn:before {
    background: rgba(0, 0, 0, 0.05);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  }
}
