@media (prefers-color-scheme: dark) {
  body {
    background-color: $body-color-invert;
  }

  ::selection {
    background: lighten($color: $color-primary-invert, $amount: 10);
    color: $white-invert;
  }

  a,
  a:hover,
  a:focus {
    color: $color-primary-invert;
  }

  a:hover {
    color: $color-primary-invert;
  }

  span.label {
    background-color: $color-primary-invert;
    color: $text-dark-invert;
  }

  pre {
    color: $text-dark-invert !important;
    background-color: $light_invert !important;
  }

  kbd {
    color: $text-dark-invert;
    background-color: $light-invert;
  }

  code {
    color: $code-color-invert;
  }

  code.caption {
    color: $text-dark-invert !important;
  }

  code.cmd::before {
    color: $color-primary-invert !important;
  }

  // preloader
  .preloader {
    background-color: $body-color-invert;
  }

  // shape
  .title-border {
    text-decoration-color: $color-primary-invert;
  }

  // social-icons
  .social-icons {
    li {

      a {
        color: $black-invert;

        &:hover {
          color: $color-primary-invert;
        }
      }
    }
  }

  .list-group-item {
    text-decoration: none;
    background-color: $body-color-invert;
    border: none;
  }

  // pagination
  .pagination {

    .prev,
    .next {
      a {
        background-color: $body-color-invert;

        &:hover {
          background-color: $color-primary-invert;
          color: $text-dark-invert;
        }
      }
    }

    .page-link {
      color: $text-dark-invert;
      background: transparent;

      &.active,
      &:hover {
        background-color: $color-primary-invert;
        color: $white; /*keep color*/
      }
    }
  }

  // widget
  .widget {
    border: 1px solid $border-color-invert;
  }

  // lineads
  .lineads {
    border: 1px solid $border-color-invert;
  }

  // card
  .card {
    background-color: $body-color-invert;
    color: $text-color-invert;
  }

  // form
  .form-group {

    label {
      color: $text-color-invert;
      font-family: $font-secondary;

      small {
        color: $color-primary-invert;
      }
    }

    .form-control {
      background-color: transparent;
      font-family: $font-primary;
      border-bottom: 1px solid $border-color-invert;
      color: $text-color-invert;

      &::placeholder {
        color: $text-light-invert !important;
      }

      &:focus {
        border-color: $color-primary-invert;
      }
    }
  }

  .border-default,
  .border {
    border-color: $border-color-invert !important;
  }

  .text-primary {
    color: $color-primary-invert !important;
  }

  .text-secondary {
    color: $color-primary-invert !important;
  }

  .text-black {
    color: $black-invert !important;
  }

  .text-light {
    color: $text-light-invert !important;
  }

  .text-dark {
    color: $text-dark-invert !important;
  }

  .text-default {
    color: $text-color-invert !important;
  }

  .bg-primary {
    background: $color-primary-invert !important;
  }

  .bg-light {
    background: $light-invert !important;
  }

  .badge-primary {
    background-color: $color-primary-dim-invert !important;
    color: $text_dark_invert !important;
  }

  .font-primary {
    font-family: $font-primary !important;
  }

  .title-linked {
    color: $text-dark-invert;
  }

  // content style
  .content {

    a {
      color: $color-primary-invert;
    }

    ul {
      li {
        &::before {
          background: $color-primary-invert;
        }
      }
    }

    p {
      color: $black-invert;
    }

    blockquote {
      background-color: $light-invert;

      p {
        font-family: $font-primary;
        color: $text-dark-invert;

        &::before,
        &::after {
          color: $color-primary-invert;
        }
      }

      h6 {
        color: $text-color-invert;
      }
    }
  }
}
