<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="{{ .Site.Params.cusdis.appid }}"
  data-page-id="{{ .RelPermalink }}"
  data-page-url="{{ .RelPermalink }}"
  data-page-title="{{ .Title }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
