<div class="lineads mt-4">
  <ul class="list-group list-unstyled">
    <div class="lineads-title title-border">
      [Iklan] Bootcamp Data Science DQLAB
    </div>
    <i>
      <li class="list-group-item text-left">
        <a href="https://dqlab.id/bootcamp-data-analyst-with-excel" target="_blank">
          Data Analyst with Excel.
        </a>
        Voucher:
        <a href="https://academy.dqlab.id/payment/event/271?dqlabref=timaffiliated&affCode=herv01&voucherCode=HERV01BCE" target="_blank">
          HERV01BCE
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://dqlab.id/bootcamp-data-analyst-with-python-and-sql" target="_blank">
          Data Analyst with SQL & Python in Google Platform.
        </a>
        Voucher:
        <a href="https://academy.dqlab.id/payment/event/268?dqlabref=timaffiliated&affCode=herv01&voucherCode=HERV01BCSP" target="_blank">
          HERV01BCSP
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://dqlab.id/bootcamp-machine-learning-and-ai-for-beginner" target="_blank">
          Machine Learning & AI for Beginner.
        </a>
        Voucher:
        <a href="https://academy.dqlab.id/payment/event/269?dqlabref=timaffiliated&affCode=herv01&voucherCode=HERV01BCMA" target="_blank">
          HERV01BCMA
        </a>
      </li>
    </i>
  </ul>
</div>

