<div class="lineads mt-4">
  <ul class="list-group list-unstyled">
    <div class="lineads-title title-border">
      [Iklan] Membership Data Science DQLAB
    </div>
    <i>
      <li class="list-group-item">
        <a href="https://academy.dqlab.id/subscribe/payment/PRDDQLAB3M?dqlabref=timaffiliated&affCode=herv01&voucherCode=HERV01PR3" target="_blank">
          Voucher 3 Bulan hanya 59K. Kupon: HERV01PR3
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://academy.dqlab.id/subscribe/payment/PRDDQLAB6M?dqlabref=timaffiliated&affCode=herv01&voucherCode=HERV01PR6" target="_blank">
          Voucher 6 Bulan hanya 89K. Kupon: HERV01PR6
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://academy.dqlab.id/subscribe/payment/PRDDQLAB1Y?dqlabref=timaffiliated&affCode=herv01&voucherCode=HERV01PR12" target="_blank">
          Voucher 12 Bulan hanya 175K. Kupon: HERV01PR12
        </a>
      </li>
    </i>
  </ul>
</div>
